

.message{

    padding-left:25px;
    padding-right:25px;
    padding-top:10px;
    padding-bottom:10px;
    font-size:24px;
    font-family: 'Overpass', sans-serif;

}
img{
    max-height: 100%;
    max-width: 100%;
}

p{
    color:#b2bec3;
}
#washu{
    color:#2ecc71;
    font-weight: bold;
}

#nasa{
    color:#f0932b;
        font-weight: bold;

}

#google{
    color:#4885ed;
        font-weight: bold;

}

#kc{
    color:#1A4784;
    font-weight: bold;
}

#gmail{
    color:#ff7f50;
        font-weight: bold;

}

#linkedin{
    color:#747d8c;
        font-weight: bold;

}

#github{
    color:#ff6b81;
        font-weight: bold;

}

#game{
    color:#d35400;
    font-weight: bold;
}

#dataviz{
    color:#e74c3c;
    font-weight: bold;
}

#name{
    font-family:"Permanent Marker",sans-serif;
    color:#636e72;
}
