

.message, h1,h2,h3,p,a{

    /* padding-left:25px;
    padding-right:25px;
    padding-top:10px;
    padding-bottom:10px;
    font-size:24px; */
    /* font-family: 'Overpass', sans-serif; */
    font-family: 'Space Mono', monospace;


}


img{
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}

#prof{
    height:100%;
}

p{
    color:#2f3640;
}
#washu{
    color:#2ecc71;
    font-weight: bold;
}

#nasa{
    color:#f0932b;
        font-weight: bold;

}

#google{
    color:#4885ed;
        font-weight: bold;

}

#kc{
    color:#1A4784;
    font-weight: bold;
}

#gmail{
    color:#ff7f50;
        font-weight: bold;

}

#linkedin{
    color:#747d8c;
        font-weight: bold;

}

#github{
    color:#ff6b81;
        font-weight: bold;

}

#game{
    color:#d35400;
    font-weight: bold;
}

#dataviz{
    color:#e74c3c;
    font-weight: bold;
}

#name{
    font-family:"Permanent Marker",sans-serif;
    color:#636e72;
}



html,body{
    /* height:100%; */
    /* background-color: #2d3436; */
}


.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left:15%;
    margin-right: 15%;
 
}

#profile_col{
   text-align: center;

}

.message{
    text-align: center;
}

.navbar{
    display:inline-grid;
    /* grid-template-rows: 1fr 1fr; */
    grid-template-columns: .8fr 1fr 1fr;
    column-gap: 20px;
    margin-bottom: 20px;
    margin-top:20px;
    margin-left:15%;
    margin-right: 15%;
}




/* #skills-container{
    display: inline-grid;
    grid-template-columns: 150px 1fr 1fr;
    margin-left:15%;
    margin-right: 15%;
    padding: 50px;
} */

.experience-container{
    /* display:inline-grid;
    grid-template-columns: 5fr 2fr; */
    margin-left:15%;
    margin-right: 15%;
}

.press{
    color: #3498db;
}

span{
    color:#95a5a6;
}

.projects-container{
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-left:15%;
    margin-right: 15%;
}

.geobase_img{
    width:40%;
    height:auto;
}

.proj-link{
    color:#27ae60;
    font-weight: 900;
    text-decoration: none;
}

.proj-link:hover{
    color:#f1c40f;
    text-decoration: underline;
}


/* Media Queries */
@media only screen and (min-width: 1068px) {
   /* tablets and desktop */
}

#profile_col{
    margin-right: 50px;
}

@media only screen and (max-width: 1067px) {
 /* phones */
    #about_page{
        display:block;
    }
    #profile_col{
        margin-right: 0px;
    }
 }
