
.unitlabel,.wordLabel,.complexLabel{
    font-family: Arial, Helvetica, sans-serif;
    font-size:10px;
}

h1,h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
}

#intro>p,#intro>li,#intro>ol,#intro>h1{
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}

#intro{
    background-color: #f9f9f9;
    /*citation: https://www.w3schools.com/howto/howto_css_cards.asp*/
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    /*End Citation*/
    padding: 18px;
    width:1500px;
    

}

#title{
    text-align: left;
    font-size: 48px;
    padding-left:10px;
    padding-top:20px;
    padding-bottom:20px;
    background-color: #2ecc71;
}
#choose{
    font-size: 28px;
    text-align: left;
    padding-left:10px;
    padding-top:20px;
    padding-bottom:20px;
    background-color:#2ecc71;
    color:#f9f9f9;
}


body{
    background-color:white;
}

/** Style Buttons **/
.story{
    padding: 8px 4px;
    margin: 4px;
    border-radius: 2px;
    background-color:#dfe6e9;
}

.selected{
    /* background-color:#e67e22; */
    background-color: #2ecc71;
    color: #f9f9f9;
    border-color:#74b9ff;
}

.polygon{
    fill-opacity: .3
}

#first{
    padding-top:200px;
    margin-top:200px;
    top:100px;

}

#chart-one{
    text-align: center;
background-color: white;
}

.titleLabel{
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;

}

/*Citation: From Electoral Votes Assignment*/
.d3-tip{
    padding-left: 10px;
    padding-right: 10px;
    min-width: 100px;
    border-style: groove;
    /*padding: 12px;*/
    background: #FFFFFF;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    pointer-events: none;
}
/*End Citation*/

.tooltip-title{
    color:blue;
}

.metadata{
    font-family: Arial, Helvetica, sans-serif;
}

#intro{
    margin: 0 auto;
}

#summary{
    margin: 0 auto;
    display:grid;
    grid-template-columns: 1fr 20px 1fr;
    width:750px;
}
#one,#two{
    /*Citation: https://www.w3schools.com/howto/howto_css_cards.asp*/
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  /*End Citation*/
  padding:10px;
  background-color:#f9f9f9;

}

#one{
    grid-column: 1;
}
#two{
    grid-column: 3;
}
/*Citation: https://www.w3schools.com/howto/howto_css_cards.asp*/
#one:hover,#two:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  /*End Citation*/

  .summary{
    font-family: Arial, Helvetica, sans-serif;
    padding-left:18px;
    padding-right:18px;

  }

  #all-stories{
      padding:18px;
      width:1500px;
      margin: 0 auto;
      text-align: center;
      background-color: #f9f9f9;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  .summarytitle{
      padding:18px;
      background-color: #2ecc71;
      color:#f9f9f9;
  }